.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  gap: 2rem;
}
.sidebar__sidebar {
  position: relative;
}
.sidebar__content {
  overflow-y: auto;
  max-height: 100vh;
  color: var(--text);
}
.sidebar__code {
  padding: 1rem;
  color: var(--text);
}