@import '../../../node_modules/gerillass/scss/gerillass';

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    gap: 2rem;

    @include breakpoint(min, medium) {
        flex-direction: row;
        gap: 0;
    }

    &__data {
        width: 100%;
        border-bottom: 1px solid var(--outline);

        @include breakpoint(min, medium) {
            width: 4rem;
            border-bottom: none;
            border-right: 1px solid var(--outline);
        }
    }

    &__sidebar {
        position: relative;

        @include breakpoint(min, medium) {
            flex-grow: 0;
            padding: 0;
            margin: 0;
            width: 16.45rem;
            border-right: 1px solid var(--outline);
        }
    }

    &__content {
        width: 100%;
        color: var(--text);
        flex-grow: 1;

        @include breakpoint(min, medium) {
            width: 50%;
        }
    }

    &__code {
        padding: 1rem;
        color: var(--text);
        width: 100%;
        border-left: 1px solid var(--outline);

        @include breakpoint(min, medium) {
            width: 50%;
        }
    }
}
