.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.sidebar__sidebar {
  position: relative;
  height: 100%;
}
.sidebar__content {
  padding: 1rem;
  color: var(--text);
}
.sidebar__code {
  padding: 1rem;
  color: var(--text);
}