@import '../../../node_modules/gerillass/scss/gerillass';

.sidebar-container {
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 1rem;

    @include breakpoint(min, medium) {
        width: 20rem;
    }
}

.sidenav {
    padding: 1rem;

    li {
        user-select: none;
        padding: .4rem 1rem;
        cursor: pointer;

        a {
            text-decoration: none;
            color: var(--text);
        }
    }
}
