.sidebar-container {
    width: 100%;
    //height: 104%;
    padding: 0;
    margin: 0;
    border-right: 1px solid var(--outline);
    padding: 1rem;
}

.sidenav {
    padding: 1rem;

    li {
        user-select: none;
        padding: .4rem 1rem;
        cursor: pointer;

        a {
            text-decoration: none;
            color: var(--text);
        }
    }
}
