@import '../../../node_modules/gerillass/scss/gerillass';

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    p {
        @include breakpoint(max, medium) {
            display: none;
        }
    }

    i {
        @include breakpoint(max, medium) {
            border-left: 1px solid var(--outline);
        }
    }

    @include breakpoint(max, medium) {
        padding: none;
        margin: none;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--outline);
    gap: 0;

    &__social {
        border-right: 1px solid var(--outline);
        padding: 1rem;

        @include breakpoint(max, medium) {
            flex: 1 0;
        }

        &__container {
            display: flex;
            align-items: center;
            margin-right: auto;
        }
    }


    i {
        font-size: 1rem;
        padding: 1rem;
        border-right: 1px solid var(--outline);
        cursor: pointer;
        transition: .2s all ease-in-out;
        user-select: none;

        &:hover {
            background-color: var(--tab-highlight);
        }
    }
}
