@import '../node_modules/gerillass/scss/gerillass';
@import './controls.css';

:root {
    --accent-green: #9ece6a;
    --accent-orange: #db573a;
    --accent-blue: #204ec2;
    --accent-purple: #838cf7;
    --white: #fff;
    --text: #abb2bf;
    --outline: #212431;
    --tab-highlight: #272d44;
    --background: #16161e;
    --scrollbar: #212331;
    --scrollbar-highlight: #202130;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Fira Code', monospace;
    color: var(--text);
    font-size: 1rem;
}

.hljs {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    padding: 0;
}

.code-block {
    margin-top: 1rem;
    border-radius: 20px;
    border: 1px solid var(--outline);
}

pre {
    box-sizing: border-box;
    white-space: pre-wrap; // Allows the text to wrap
    word-wrap: break-word; // Allows unbreakable words to be broken
    overflow-wrap: break-word; // An alternative to word-wrap
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.accent-blue {
    color: var(--accent-blue);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-orange) transparent; /* thumb and track color */
}
