@import '../node_modules/gerillass/scss/gerillass';
@import './controls.css';

:root {
    --accent-orange: #c69a66;
    --accent-blue: #204ec2;
    --white: #fff;
    --text: #abb2bf;
    --outline: #404c74;
    --tab-highlight: #272d44;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #1e2336;
    font-family: 'Fira Code', monospace;
    color: var(--text);
    font-size: 1rem;
}

.hljs {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    padding: 0;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.accent-blue {
    color: var(--accent-blue);
}
